
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                I am Full Stack developer. I have done my graduation from buddha Institue of Technology Gorakhpur.
                I have done many Projects using Different technology like Java ,Database ,Angular,Spring-boot ,Hibernate and html,Css.
                You Can Check My Other Project From My Github.
                Thanks for visiting Us :-)
            </p>
             <br>
            <div class="skills">
                <span>Web Design</span>
                <span>Sports & Co-curricular</span>
                <span>Coding</span>
            </div>
            <br>
            <div class="skills">
                <a href="https://github.com/anamika-001">Github</a>
                <a href="https://www.facebook.com/profile.php?id=100007357267667">Facebook</a>
            </div>
        </div>
    </div>