<div class="heading">
<h1>Looking For Fruits  ??</h1>

</div>
<br>
<div class="heading">
<h2>For item List</h2>
<button (click)="getFruitData()">Click Me</button>
</div>

<br>
<br>

<div *ngFor='let fruit of fruits'>
  


<table class="content-table">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Id</th>
      <th>Genus</th>
      <th>Add item</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{fruit.name}}</td>
      <td>{{fruit.id}}</td>
      <td>{{fruit.genus}}</td>
      <button>Add to cart</button>
      
     
    </tr>
    
  </tbody>


</table>
<br>
</div>